@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
}

@layer base {
  @font-face {
    font-family: "DINASTI Regular";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/DINASTI-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "DINASTI Bold";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/DINASTI-Bold.woff") format("woff");
  }
}

@layer utilities {
  .card-wrapper {
    @apply relative bg-gradient-to-b from-slate-600 to-slate-700 rounded-2xl drop-shadow-white-3xl;
    overflow: hidden;
    @apply transform transition-transform duration-300 ease-in-out cursor-pointer;
  }
  .card-wrapper::before {
    background: conic-gradient(
      rgba(0, 206, 209, 1) 0deg,
      rgba(0, 206, 209, 1) 40deg,
      transparent 100deg
    );
    content: "";
    @apply absolute w-[150%] h-[150%] left-[-25%] top-[-25%] animate-border-spin;
    transform-origin: center;
  }

  .card-content {
    @apply absolute w-[calc(100%-2px)] h-[calc(100%-2px)] bg-gradient-to-b top-[1px] left-[1px] from-slate-500 to-slate-900 rounded-2xl;
    z-index: 10;
  }

  .radial-gradient {
    background: radial-gradient(
        circle at 50% 0%,
        rgba(250, 250, 250, 0.05) 0%,
        transparent 60%
      ),
      rgba(15, 15, 15, 1);
    @apply bg-slate-500;
  }

  .radial-gradient:hover {
    @apply scale-105;
  }

  .linear-mask {
    mask-image: linear-gradient(
      -75deg,
      white calc(var(--x) + 20%),
      transparent calc(var(--x) + 30%),
      white calc(var(--x) + 100%)
    );
    -webkit-mask-image: linear-gradient(
      -75deg,
      white calc(var(--x) + 20%),
      transparent calc(var(--x) + 30%),
      white calc(var(--x) + 100%)
    );
  }

  .linear-overlay {
    background-image: linear-gradient(
      -75deg,
      rgba(255, 255, 255, 0.1) calc(var(--x) + 20%),
      rgba(255, 255, 255, 0.5) calc(var(--x) + 25%),
      rgba(255, 255, 255, 0.1) calc(var(--x) + 100%)
    );
    mask: linear-gradient(black, black) content-box,
      linear-gradient(black, black);
    -webkit-mask: linear-gradient(black, black) content-box,
      linear-gradient(black, black);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
  }

  .white-drop-shadow {
    filter: drop-shadow(0 6px 15px rgba(0, 206, 209, 0.75));
  }

  .black-drop-shadow {
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
  }

  .content {
    @apply flex flex-col justify-center text-center pt-5;
  }

  .content-title {
    @apply text-left pl-7 font-dinasti-bold text-4xl;
  }

  .active-link a {
    animation: blink 1s infinite;
  }

  .goals,
  .personal-life {
    @apply mb-5 pt-6;
  }

  .goals-content,
  .personal-life-content {
    @apply px-10 py-8;
  }

  .project-list {
  }

  .perspective {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .flip-card {
    transition: transform 0.6s;
  }

  .group:hover .flip-card {
    transform: rotateY(180deg);
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .shadow-3d {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }

  .logo {
    position: absolute;
    animation: bounce 2s infinite;
  }

  .container {
    position: relative;
  }
}
